In [37]:
import pandas as pd
import matplotlib.pyplot as plt
df=pd.read_csv('titanic_1.csv')

In [38]:
df.head()

    Age     Fare  Family  Survived
0  22.0   7.2500       1         0
1  38.0  71.2833       1         1
2  26.0   7.9250       0         1
3  35.0  53.1000       1         1
4  35.0   8.0500       0         0

In [49]:
df.isnull().mean()*100

Age         19.865320
Fare         5.050505
Family       0.000000
Survived     0.000000
dtype: float64

In [50]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [52]:
x['Age'].isnull().sum()

177

In [53]:
x['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [58]:
x['Age_999']=x['Age'].fillna(999)

In [59]:
x['Age'].isnull().sum()

177

In [60]:
x['Age_-1']=x['Age'].fillna(-1)

In [62]:
print("OG Age variable variance: ",x['Age'].var())
print("999 Age variable variance: ",x['Age_999'].var())
print("-1 Age variable variance: ",x['Age_-1'].var())

OG Age variable variance:  211.0191247463081
999 Age variable variance:  149903.244476262
-1 Age variable variance:  319.24742711837445

In [64]:
from sklearn.impute import SimpleImputer

In [68]:
imputer1=SimpleImputer(strategy='constant',fill_value=99)
imputer2=SimpleImputer(strategy='constant',fill_value=999)